/* -------------------------- BODY -------------------------- */




/* -------------------------- NAVIGATION -------------------------- */
nav {
    
    ul {
        margin-left: $gutter;
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    
    ul li:last-child {border-right: 1px solid rgba(0,0,0,0.3);}
    
    ul li {width: auto;}
    
    ul li a {
        padding: .5rem 1rem;
    }
}



/* -------------------------- MAIN -------------------------- */
main {
    figure.photo {
        width: 25% - $gutterdbl; 
        margin: .5rem $gutter; 
        float: left;}
    
    div.blog article {
        width: 33.33% - $gutterdbl;
        float: left;
    } // end of blog
    
    div.blog article:nth-child(2n + 1) {
        clear: none;
    }
    
    div.blog article:nth-child(3n + 1) {
        clear: left;
    }
    
    section {
        max-width: 60rem; 
        margin: 0 auto;
    }
    
} // end of main