/* -------------------------- MAIN -------------------------- */
main {
    figure.photo {
        width: 50% - $gutterdbl; 
        margin: .5rem $gutter; 
        float: left;}
    
} // end of main